name: Linux

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Apt Update
      run: sudo apt-get update
    - name: Apt Install
      run: sudo apt-get install libasound2-dev libxinerama-dev libxrandr-dev libgl1-mesa-dev libxi-dev libxcursor-dev --yes --quiet
    - name: Get Submodules
      run: git submodule update --init --recursive
    - name: Get Node.js
      run: git clone https://github.com/Kode/nodejs_bin.git --depth 1
    - name: Setup Node.js
      run: nodejs_bin/copysysbin.sh
    - name: Compile
      run: nodejs_bin/node Kinc/make.js --compiler clang --compile
    - name: Get Krom_bin
      run: git clone https://github.com/Kode/Krom_bin.git
    - name: Copy binary
      run: cp build/Release/Krom Krom_bin/Krom
    - name: Set name
      run: git config --global user.name "Robbot"
    - name: Set email
      run: git config --global user.email "robbot2019@robdangero.us"
    - name: Commit binary
      run: git -C Krom_bin commit -a -m "Update Linux binary to $GITHUB_SHA."
    - name: Push binary
      run: git -C Krom_bin push https://Kode-Robbot:$ROBBOT_PASS@github.com/Kode/Krom_bin.git master --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}
